#about {
  color: white;
  width: 60%;

  padding: 35px;
  font-size: 18px;

  .small {
    color: #ca51fa;
    margin-bottom: 20px;
  }
  .name,
  .lighter {
    font-size: 52px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .lighter {
    color: rgba(255, 255, 255, 0.85);
    font-size: 48px;
  }
  p {
    color: rgba(255, 255, 255, 0.85);
    span {
      color: #ca51fa;
    }
  }
  .marbot {
    margin-bottom: 30px;
    line-height: 1.6;
  }
}
