#contact {
  color: white;

  p {
    font-size: 30px;

    a {
      text-decoration: none;
      color: #ca51fa;
      font-weight: 500;
      font-size: 32px;
    }
  }

  p:not(:last-child) {
    margin-bottom: 26px;
  }
}
