#experience {
  position: relative;
  height: 450px;
  width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;

  &.pad {
    padding-top: 70px;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    width: 160px;
    font-weight: 600;
    background-color: inherit;
    color: white;
    letter-spacing: 1.5px;
    &:hover {
      box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ff009d,
        0 0 0.2rem #ff009d, 0 0 0.8rem #ff009d, inset 0 0 0.8rem #ff009d;
    }
  }
  @media screen and (max-width: 1150px) {
    width: 900px;
  }
  @media screen and (max-width: 950px) {
    width: 750px;
    button {
      font-size: 16px;
      width: 130px;
    }
  }
  @media screen and (max-width: 800px) {
    width: 600px;
    button {
      font-size: 14px;
      width: 100px;
    }
  }
  @media screen and (max-width: 650px) {
    padding: 0 50px;
    button {
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 12px;
    }
    &.pad {
      padding-top: 0;
    }
  }
}
