@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

$text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 15px #fff, 0 0 32px #0fa,
  0 0 50px #0fa, 0 0 70px #0fa, 0 0 80px #0fa, 0 0 50px #0fa;

#header {
  background-color: black;
  color: white;
  min-height: 100px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    .logo {
      border: 2px solid white;
      display: inline-block;
      padding: 20px;
      transform: rotate(45deg);
      position: relative;
      text-shadow: $text-shadow;
      box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ff009d,
        0 0 0.8rem #ff009d, 0 0 2.8rem #ff009d, inset 0 0 1.3rem #ff009d;
      span {
        font-size: 22px;
        font-family: "Dancing Script", sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  .right {
    .hidden {
      display: none;
    }
    .nav-bar {
      display: flex;
      list-style: none;
      gap: 20px;
      font-size: 20px;

      a {
        text-decoration: none;
        color: white;
      }

      .active {
        // box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
        //   0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ff009d,
          0 0 0.8rem #ff009d, 0 0 2.8rem #ff009d, inset 0 0 1.3rem #ff009d;
      }

      li {
        cursor: pointer;
        padding: 10px;
        border: 2px solid white;
        font-weight: 700;

        span {
          // color: #ca51fa;
          color: #ff009d;
        }

        &:hover {
          box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ff009d,
            0 0 0.8rem #ff009d, 0 0 2.8rem #ff009d, inset 0 0 1.3rem #ff009d;
        }
      }
    }
  }
  @media screen and (max-width: 1100px) {
    .right .nav-bar {
      gap: 14px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 910px) {
    padding: 18px;
    .right .nav-bar {
      gap: 8px;
      font-size: 12px;
      li {
        padding: 6px;
      }
    }
  }
  @media screen and (max-width: 700px) {
    padding: 15px;
    .right .nav-bar {
      gap: 8px;
      font-size: 10px;
      li {
        padding: 4px;
      }
    }
  }
  @media screen and (max-width: 550px) {
    .right {
      .nav-bar {
        display: none;
      }
      .hidden {
        display: block;
        .ham {
          width: 40px;
          color: white;
        }
        .mobile-nav {
          list-style: none;
          border: 1px solid white;
          padding: 2px 4px;

          a {
            color: white;
          }
        }
      }
    }
  }
}
