#job {
  color: white;
  display: flex;
  gap: 25px;
  font-size: 14px;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
  img {
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    width: 85px;
    height: 85px;
  }
  .right {
    .position {
      color: #ca51fa;
    }
  }
}
