#job {
  color: white;
  display: flex;
  gap: 25px;
  font-size: 14px;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
  img {
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    width: 85px;
    height: 85px;
  }
  .right {
    .position {
      color: #ca51fa;
    }
  }
  @media screen and (max-width: 1150px) {
    font-size: 12px;
    gap: 20px;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  @media screen and (max-width: 950px) {
    font-size: 10px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  @media screen and (max-width: 650px) {
    font-size: 10px;
    img {
      width: 75px;
      height: 75px;
    }
  }
}
