#projects {
  color: white;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  .project {
    cursor: pointer;
    border: 2px solid white;
    padding-bottom: 5px;
    width: 190px;
    &:hover {
      box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #ff009d,
        0 0 0.4rem #ff009d, 0 0 1.5rem #ff009d, inset 0 0 0.8rem #ff009d;
    }
    img {
      width: 100%;
    }
    p {
      text-align: center;
      span {
        color: #ff009d;
      }
    }
  }
  @media screen and (max-width: 900px) {
    .project {
      width: 150px;
    }
  }
  @media screen and (max-width: 650px) {
    gap: 12px;
    .project {
      width: 130px;
      .helper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  @media screen and (max-width: 480px) {
    gap: 12px;
    grid-template-columns: 1fr 1fr;

    .project {
      width: 120px;
      font-size: 10px;
    }
  }
}
